* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', open-sans;
}

body {
	margin: 0;
}

header {
	background: #023d6d;
	color: white;
	padding: 1rem;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	width: 100%;
}
p {
	width: 150px;
	padding: 5px 20px;
	color: red;
	background-color: yellow;
	border: 1px solid red;
	display: flex;
	margin: auto;
	visibility: hidden;
}

#results,
#calculator {
	margin: 2rem auto;
	width: 40rem;
	max-width: 90%;
	border: 1px solid #023d6d;
	border-radius: 10px;
	padding: 1rem;
	color: #023d6d;
}

#results {
	text-align: center;
}

#calculator input {
	font: inherit;
	font-size: 3rem;
	border: 2px solid #023d6d;
	width: 10rem;
	padding: 0.15rem;
	margin: auto;
	display: block;
	color: #023d6d;
	text-align: center;
}

#calculator input:focus {
	outline: none;
}

#calculator button {
	font: inherit;
	background: #023d6d;
	color: white;
	border: 1px solid #023d6d;
	padding: 1rem;
	cursor: pointer;
}

#calculator button:focus {
	outline: none;
}

#calculator button:hover,
#calculator button:active {
	background: #084f88;
	border-color: #084f88;
}

#calc-actions button {
	width: 4rem;
}

#calc-actions {
	margin-top: 1rem;
	text-align: center;
}
