* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	display: block;
	align-items: center;
	justify-content: center;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	height: 100px;
}
header h1 {
	color: white;
}

section {
	margin: 25px 50px;
	padding: 10px;
	border: 1px solid red;
	height: 200px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

section input {
	width: 300px;
	height: 80px;
	border: 2px solid #ff0000;
	margin: 10px;
	text-align: center;
	font-size: 50px;
}
section .btn {
	margin: 5px;
	border: 1px solid #ff0000;
	background-color: #ff0000;
	width: 60px;
	height: 60px;
	color: white;
	font-size: larger;
	cursor: pointer;
}

#calculator input:focus,
#calculator button:focus {
	outline: none;
}

#calculator button:hover,
#calculator button:active {
	background-color: #fe642e;
	border: 1px solid #fe642e;
}

.square h2 {
	margin: 20px;
	color: red;
}
